<ob='phpheader' header='Content-Type: text/html; charset=utf-8'>
<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />

<title>Page Objects</title>

<link rel="stylesheet" type="text/css" href="<ob='url' path='views/css/styles.css'>" media="all" />

</head>
<body>

<div class="container">
	<div class="header">
		<span class="logo">Page Objects</span>
				
		<ul class="navigation">
			<li><a href="<ob='viewurl'>">Home</a></li>
			<li><a href="<ob='viewurl' view='help'>">Help</a></li>
		</ul>
	</div>
